@tailwind base;
@tailwind components;
@tailwind utilities;

.frise::-webkit-scrollbar, body::-webkit-scrollbar, .body::-webkit-scrollbar {
    display: none;
}

.diapo{
    transform: rotate(90deg) translateY(-100vh);
}

.body{
    transform: rotate(-90deg) translateX(-100vh);
}